/**
 * Vuetify SASS variable overrides
 * https://vuetifyjs.com/en/features/sass-variables/
 */

$body-font-family: 'Inter', sans-serif;
$heading-font-family: 'Plus Jakarta Sans', sans-serif;
$spacer: 4px;
